body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Navbar{
   background-color: rgb(88, 13, 173);
   width: 100%;
   height: 60px;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   
     
   .leftside{
       flex: 50%;
       display: flex;
       justify-content: left;
       align-items: center;
       
   }
   .rightside{
       flex: 50%;
       display: flex;
       justify-content: flex-end;
       align-items: center;
       padding-right: 20px;

       input{
           width: 220px;
           height: 30px;
           padding-left: 10px;
           border: none;
           border-radius: 2px;
           font-size: 15px;
           color: black;
       }
        button{
            height: 30px;
            width: 70px;
            font-size: 16px;
        }
   }
   .leftside .links{
       max-height: 80px;
       
       a{
           text-decoration: none;
           color: white;
           font-size: 18px;
           margin-left: 15px;
           padding: 5px;
       }
   }
   .leftside button{
       display: none;
       margin-left: 20px;
       border: none;
       background: transparent;
       color: white;
   }
   .leftside #hidden{
       display: flex;
   }
}

@media  (max-width:660px){
    .Navbar{
        .leftside button{
            display: flex;
        }
        .leftside .links{
            display: none;
        }
        .rightside{
            padding-right: 60px;
        }
        .leftside #hidden{
            position: absolute;
            left:0px;
            top: 60px;
            max-height: 280px;
            width: 100%;
            background-color: rgb(88, 13, 173);
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                margin: 20px;
                font-size: 20px;
            }
        }
        
    }
}